{% extends 'base.html' %}
{% load static %}

{% block title %}Add Forms{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload Image</button>
    </form>
        
        <a href="/recipe/{{ object.pk }}">
            <strong>Go Back</strong>
        </a>
        
    {% else %}
        <p>You must be logged in to upload images.</p>
    {% endif %}

{% endblock %}