{% extends 'base.html' %}  

{% block title %}{{ object.name }}{% endblock %}

{% block content %} 

    {% if request.user.is_authenticated %}

        <h2>{{ object.name }}</h2>
        <p><strong>Author:</strong> {{ recipe.author }}</p> 
        <p><strong>Created:</strong> {{ recipe.created_on }}</p>
        <p><strong>Updated:</strong> {{ recipe.updated_on }}</p>

        <ul>
            {% for ingredient in object.ingredients.all %}
                <li>{{ ingredient.quantity }} of {{ ingredient.ingredient.name }}</li>
            {% endfor %}

            {% for image in recipe.images.all %}
                <div>
                    <img src="{{ image.image.url }}" alt="{{ image.description }}" width="300">
                    <p>{{ image.description }}</p>
                </div>
            {% empty %}
                <p>No images available.</p>
            {% endfor %}

            <a href="{% url 'ledger:add-image' recipe.pk %}">Add Image</a>

        </ul>
    {% else %}
        <p>You must be logged in to view this page.</p>
    {% endif %}
{% endblock %}